/* The @import rule is used to import the "Montserrat" font from Google Fonts. */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* The * selector targets all elements on the page. */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* style for body section  */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbaf34f2;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

